
@font-face {
  font-family: 'Montserrat';
  src: url(Fuentes/Montserrat-Medium.ttf) format('truetype');

}

@font-face {
  font-family: 'MontserratLight';
  src: url(Fuentes/Montserrat-Light.ttf) format('truetype');

}

@font-face {
  font-family: 'MontserratItalicBold';
  src: url(Fuentes/Montserrat-BlackItalic.ttf) format('truetype');

}


*{
 padding: 0%;
 margin: 0px;
 border: 0px;
}


#Desplegar{
  display:none;
  width:40px ;
  height:40px ;
  background-color: #b8b8b8a8;
  background-image: url(img/menu-desplegable.png);
  background-size:80% 80%;
  background-repeat: no-repeat;
  background-position: 3px;
  border-radius:5px ;
}
#Colapse{
  display:none;
  width:40px ;
  height:40px ;
  background-color: #b8b8b8a8;
  background-image: url(img/colapso.png);
  background-size:80% 80%;
  background-repeat: no-repeat;
  background-position: 4px;
  border-radius:5px ;
}




header{
overflow: hidden;
width:100% ;


}

#MG{
  position:absolute;
  width:100%;
  height:60px ;
  background-color: rgba(41, 41, 41, 0.644);
  z-index:4;
}


#menu{
 display: flex; 
 list-style: none;
 height:60px ;
 width:450px ;
 margin-left:40% ;
 
}



#menu > li >a{
  display: block;
  color:white ;
  text-decoration:none ;
  padding:1px 20px ;
  text-align: justify;
  line-height: 60px;
  font-family:'MontserratLight' ;
  font-size:18px ;
}

#menuDesplegable{
  position:absolute;
  display:none;
  width:300px ;
  margin-top:-2px ;
  background-color: rgba(31, 31, 31, 0.712);
  list-style: none;
  
}

#menuDesplegable >li{
  display: block;
  padding:10px ;
}

#menuDesplegable >li >a{
 color: white;
 text-decoration: none;
 margin-bottom:5px ;
 padding:15px 15px ;
 font-family:'MontserratLight' ;
}

#menuDesplegable li:hover{
  background-color: rgba(210, 87, 30, 0.836);
}


#menu li:hover #menuDesplegable{
 display: block;

}


#ContenedorLogo{
  display:block ;
  float: left;
  width:175px ;
 line-height: 60px;
 margin-left:50px ;
 
}


#ContenedorLogo #Logo{
 width:100% ;
 height: 80px;
 margin-top:-10px ;
}

#ContenedorVideo{
 display: block;
 float:left;
 /*margin-top:-100px ;*/
 width:100% ;
 /*height:728px ;*/

 /*background-repeat:no-repeat;
 background-size: cover;*/
 z-index:1;

}

#ContenedorVideo video {
 width: 100%;
 height: auto;
 opacity:0.9 ;
 min-width:100% ;
}

#ContenedorVideo #Titulo{
position: absolute;
top:50% ;
left:5% ;
width:650px ;
height:300px ;
word-wrap: break-word;
font-size:72px ;
text-align: left;
font-family:'MontserratItalicBold' ;
font-weight:bold;
color:black ;
z-index:5 ;

}

#seccion1{
 height:400px ;
 display: grid;
 grid-template-rows:100% ;
 width:100% ;
}

#ContenedorQuienes{
 background-image: url(img/banner.jpg);
 background-repeat: no-repeat;
 background-size:cover; 
 background-position:0px -320px  ;
 /*background-attachment: fixed;*/

}

#ContenedorQuienes img{
  width:65% ;
  position:absolute;

  margin-top:120px ;
  
  z-index:6;

}

#CotenedorBoton{
 margin-left:50% ; 
 width:50% ;
 height: 100%;
 background-color: #535252c4; 
 
}

#CotenedorBoton >p{
width:50% ;
margin-left:35% ;
padding-top: 10%;
font-family:'MontserratLight' ;
text-align: justify;
font-size:18px ;
color: white;
}


#CotenedorBoton >#Boton{
  position:relative;
  width:130px ;
  height:35px ;
  left:55%;
  top:80px;
  border-radius:5px ;
  background-color: #D9441C;
  
  
}

#CotenedorBoton >#Boton >a  {
  width:110px ;
  height:35px ;
  color: white;
  text-decoration: none;
  font-family:'Montserrat' ;
}

#CotenedorBoton >#Boton:active{
  box-shadow: none;

}

#seccion2{
 display: grid;
 grid-template-rows:100% ;
 grid-template-columns:50% 50%; 
 width:100% ;
 height:500px ;
 background-color: #B7B3B2;

}


#Inscripciones{
 display: grid;
 grid-template-rows:60% 40% ; 
 width: 95%;
 height:400px ;
 margin-top:50px ;
 background-color: #373635;
 border-radius:0px 8px 8px 0px ; 


}


#Inscripciones #Titulo2{
display: flex;
 margin: auto;
 font-size:30px ;
 font-family:'Montserrat';
 color: white;
 padding:30px ;
 padding-top:100px ;
 border-bottom:2px solid #D9441C ;
}

#Inscripciones #ContenedorBotones{
  display:flex ;
  width:100% ;
  margin: auto;
 
}

.Boton button{
  width:200px ;
  height:50px ;
  background-color: #D9441C;
  margin: auto;
  
  border-radius:5px ;
}

.uno{
  margin: auto;
}

.dos{
 margin: auto;
}

.Boton button a{
  color: white;
  font-family: 'Montserrat';
  text-decoration: none;
  font-size:20px ;
}


#imagen{
 width:100% ;
 height:400px ;
 margin-top:50px ;
 background-size: cover;
 animation-name:Cambio;
 animation-duration:20s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 
}


@keyframes Cambio {
  0%{background-image: url(img/Banner2.jpg);
     background-size: cover;
  
  }

  50%{background-image: url(img/Banner2.jpg);
       background-size: cover; 
       transition:all 1s ; }
  51%{background-image: url(img/BECA.jpg);
    background-size: cover;
  }

  100%{background-image: url(img/BECA.jpg);
    background-size: cover;
  }
}





#seccion3{
  display:grid ;
  grid-template-rows:60% 40%;
  width:100% ;
  height:370px ;
  background-color: #DBDBDB;
}

#seccion3 #Titulo3{
 display:grid ;
 grid-template-rows:50% 50% ;
 width:100% ;
}



#seccion3 #Titulo3 #caja1{
  display: inline;
   margin:auto;
   padding:20px ;
   padding-left:5% ;
   padding-right:5% ;
   border-bottom:2px solid #373635 ;
   
}

#caja1>h3{
  font-family:'Montserrat' ;
  font-size:38px ;
  color: #D9441C;

}

#seccion3 #Titulo3 #caja2{
  display: inline;
   margin: auto;
   width:90% ;
}

#caja2 >p{
 text-align:center;
 color: #363636;
 font-family:'Montserrat' ;
 

}


#logos{
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr ;
width:30% ;
margin: auto;


}

.logoC{
 display: inline;
 width:80px ;
 height:80px ;
 background-color: #BC4624;
 margin: auto;
 border-radius:50% ;
 margin-bottom:50px ;
 animation-name:bolas ;
 animation-duration:3s;
 animation-timing-function: ease-in-out;
 
}


@keyframes bolas {
  from{
    margin-left:-500% ;
    transform: rotate(360deg);
  }
  to{margin-left:0%;}
}



.unoC{
  background-image: url(img/Fiscalia\ del\ estado.jpg);
  background-size: cover;
}
.dosC{
  background-image: url(img/Angeles\ Psicologicos.jpg);
  background-size:100% 100%;
  
}

.tresC{
 background-color: white; 
 background-image: url(img/unnamed.png);
 background-size: cover;
}


.cuatroC{
  background-color: white; 
  background-image: url(img/Dere.jpg);
  background-size: cover;
}



#seccion4{
 display: grid;
 grid-template-columns:29% 71%; 
 width:100% ;
 height:400px ; 
 background-color: #BC4624;


}

#ContenedorBola{
 width:100% ;
 

}

#ContenedorBola #blanca{
  margin-top:50px ;
  margin-left:80px ;
  width:300px ;
  height:300px ;
  border-radius:50% ;
  background-color:white ;

}

#blanca>img{
  
  width:300px ;
  height:300px ;
}

#blanca>img:hover{
  transform: rotate(360deg);
  transition: 1s ease-in-out;

}






#ContenedorRectangulo{
  width:100% ;

}

#ContenedorRectangulo #Rectangulo{

  width:95% ;
  background-color: white;
  height:100px ;
  margin-top:150px ;
  margin-left:-20px ;
}
#Rectangulo > h4{
  font-family: 'Montserrat';
  font-size:25px ;
  margin-left: 10%;
  line-height:100px ;
  color: #363636;
}